In [ ]:
import numpy as np 

np.set_printoptions(precision=2)
np.random.seed(25)
a = 36*np.random.randn(6)
print(a)

[  8.22  36.97 -30.23 -21.28 -34.45  -8.  ]

In [1]:
import scipy
import pandas as pd

cars = pd.read_csv("mtcars.csv")
cars.columns = {'car_names', 'mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb'}
cars.head()

,carb,wt,car_names,drat,mpg,qsec,gear,vs,cyl,am,hp,disp
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
cars.sum()

carb         Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
wt                                                       642.9
car_names                                                  198
drat                                                    7383.1
mpg                                                       4694
qsec                                                    115.09
gear                                                   102.952
vs                                                      571.16
cyl                                                         14
am                                                          13
hp                                                         118
disp                                                        90
dtype: object

In [5]:
cars.sum(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

In [6]:
cars.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

wt            19.200
car_names      6.000
drat         196.300
mpg          123.000
qsec           3.695
gear           3.325
vs            17.710
cyl            0.000
am             0.000
hp             4.000
disp           2.000
dtype: float64

In [7]:
cars.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

wt            20.090625
car_names      6.187500
drat         230.721875
mpg          146.687500
qsec           3.596563
gear           3.217250
vs            17.848750
cyl            0.437500
am             0.406250
hp             3.687500
disp           2.812500
dtype: float64

In [8]:
cars.max()

carb         Volvo 142E
wt                 33.9
car_names             8
drat              472.0
mpg                 335
qsec               4.93
gear              5.424
vs                 22.9
cyl                   1
am                    1
hp                    5
disp                  8
dtype: object

In [9]:
mpg = cars.mpg
mpg.idxmax()#en büyük elemanın indexi ne

30

In [10]:
cars.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

wt             6.026948
car_names      1.785922
drat         123.938694
mpg           68.562868
qsec           0.534679
gear           0.978457
vs             1.786943
cyl            0.504016
am             0.498991
hp             0.737804
disp           1.615200
dtype: float64

In [11]:
cars.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

wt              36.324103
car_names        3.189516
drat         15360.799829
mpg           4700.866935
qsec             0.285881
gear             0.957379
vs               3.193166
cyl              0.254032
am               0.248992
hp               0.544355
disp             2.608871
dtype: float64

In [18]:
gear = cars.gear
gear = round(gear)
gear.value_counts()

3.0    13
2.0     8
4.0     8
5.0     3
Name: gear, dtype: int64

In [19]:
cars.describe()

,wt,car_names,drat,mpg,qsec,gear,vs,cyl,am,hp,disp
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000